// COLORS
$black: #000000;
$neutral100: #f5f5f5;
$neutral50: #fafafa;
$neutral0: #ffffff;
$slate800: #33323d;
$slate400: #9a99ab;
$slate300: #d8d6d7;
$indigo600: #4f63d8;
$indigo500: #5267e0;
$blue950: #203a4c;
$teal400: #5fb4a2;
$sky400: #41b4d3;
$linen50: #ffefec;
$red500: #f43030;

// FONTS
$ibarra: "Ibarra Real Nova", serif;
$publicSans: "Public Sans", sans-serif;

// SPACING
$spacing-100: 0.8rem;
$spacing-150: 1.2rem;
$spacing-200: 1.6rem;
$spacing-300: 2.4rem;
$spacing-375: 3rem;
$spacing-400: 3.2rem;
$spacing-500: 4rem;
$spacing-600: 4.8rem;
$spacing-700: 5.6rem;
$spacing-1000: 8rem;

// RESPONSIVE BREAKPOINTS
$bp-tablet: 48em; // 768px
$bp-mobile: 23.4375em; // 375px

// MIXINS
@mixin textPreset(
  $fontWeight,
  $fontSize,
  $lineHeight: 100%,
  $letterSpacing: 0,
  $color: $black
) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  color: $color;
}

@mixin textPreset1($color) {
  @include textPreset(
    $fontSize: 5rem,
    $letterSpacing: -0.45px,
    $fontWeight: 700
  );
}

@mixin textPreset2($color) {
  @include textPreset(
    $fontSize: 4rem,
    $lineHeight: 105%,
    $letterSpacing: -0.35px,
    $fontWeight: 700
  );
}

@mixin textPreset3($color) {
  @include textPreset(
    $fontSize: 3.2rem,
    $lineHeight: 130%,
    $letterSpacing: -0.3px,
    $fontWeight: 400
  );
}

@mixin textPreset4($color) {
  @include textPreset($fontSize: 1.6rem, $lineHeight: 187.5%, $fontWeight: 400);
}

@mixin textPreset5($color) {
  @include textPreset($fontSize: 1.5rem, $lineHeight: 200%, $fontWeight: 400);
}

@mixin textPreset6Bold($color) {
  @include textPreset($fontSize: 1.3rem, $lineHeight: 230%, $fontWeight: 700);
}

@mixin textPreset6Regular($color) {
  @include textPreset($fontSize: 1.3rem, $lineHeight: 230%, $fontWeight: 400);
}

@mixin textPreset7($color) {
  @include textPreset(
    $fontSize: 1.2rem,
    $lineHeight: 115%,
    $letterSpacing: 2px,
    $fontWeight: 400
  );
}

@mixin textPreset8($color) {
  @include textPreset($fontSize: 1rem, $lineHeight: 120%, $fontWeight: 400);
}
